<!-- task-list.component.html -->
 <app-task>
  <div>
    <button (click)="changeFilter('All')">All</button>
    <button (click)="changeFilter('Completed')">Completed</button>
    <button (click)="changeFilter('Pending')">Pending</button>

    @if (isEdit) {
       <app-edit-form [currentTitle]="currentTitle()" />
    }


    <ul>
        @for (task of tasks(); track $index) {
            <li>
              {{ task.title }} - {{ task.completed ? 'Completed' : 'Pending' }} -
              {{ task.priority }}
              <input type="checkbox" value="true" (change)="isChecked()">
            <button (click)="editHandler(task.title)">Edit Task</button></li>
        }
    </ul>
  </div>

 </app-task>
